/* Universal Selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Html & Body Section */
html {
    height:100%;
    scroll-behavior: smooth;
}
  
body {
    margin:0;
}


/* Background Section */
.bg {
    animation:slide 180s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.45;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:180s;
}


.bg3 {
    animation-duration:180s;
}


@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

img {
    height: 500px;
}

.logo {
    text-align: center;  
    filter: drop-shadow(2px 4px 8px #000);
    
}

/* Footer Section  */
footer{
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}